html,
body {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-size: 13px;
    line-height: 18px;
    color: #000;
    font-weight: normal;
    font-family: "Cuprum", Arial, sans-serif;
}

.main-header {
    margin-bottom: 59px;
}

    .header-top {
        background-color: #293449;
    }

        .wrapper {
            width: 940px;
            margin: 0 auto;
            padding: 0 10px;   
        }
        
        .clearfix::after {
            content: "";
            display: block;
            clear: both;
        }

            .header-top a {
                color: #fff;
                text-decoration: none;
            }

            .main-logo {
                position: relative;
                display: block;
                width: 220px;                
                font-weight: bold;
                color: #fff;
                background-color: #ee3643;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
            }

            .header-logo {
                float: left;               
                padding: 9px 0;
                font-size: 24px;
                line-height: 24px;
            }

            .main-logo::after {
                display: block;
                position: absolute;
                bottom: -5px;
                content: "";
                height: 5px;
                width: 220px;
                background-color: #b52933;
            }

            .main-logo:hover {
                background-color: #ca2c37;
                cursor: pointer;
            }

            .main-logo:hover::after {
                background-color: #9a212a;
            }

            .main-logo:active {
                background-color: #ba2732;
            }

            .main-logo:active::after {
                background-color: #8e1e26;
            }

            .search {
                position: relative;
                display: block;
                float: left;
                width: 270px;
            }

            .search::before {
                position: absolute;
                display: block;
                content: "";
                width: 17px;
                height: 17px;
                top: 12px;
                left: 17px;
                background: url("../img/sprite.png") no-repeat -2px -2px;
                opacity: 0.3;
                z-index: 100;
            }

            .search:hover::before {
                opacity: 1;
            }

            .search:focus::before {
                background: green url("../img/sprite.png") no-repeat -2px -23px;
            }
                .search-field {
                    width: 206px;
                    padding: 12px 0;
                    padding-left: 49px;
                    padding-right: 15px;
                    border: none;
                    font-size: 17px;
                    line-height: 18px;
                    color: #fff;
                    font-weight: normal;
                    text-decoration: none;
                    background-color: #293449;
                    opacity: 1;
                    text-transform: none;
                }

                .search-field:hover {
                    background-color: #212a3a;
                }

                .search-field:active {
                    background-color: #293449;
                }

                .search-field:focus {
                    background-color: #fff;
                    color: #000;
                }

            .header-btn {
                position: relative;
                display: block;
                width: 150px;
                font-size: 17px;
                line-height: 18px;
                padding: 12px 0;
                float: left;
            }

            .header-btn:active {
                color: rgba(255,255,255,0.6);
            }
                        
                .bookmarks {
                    text-indent: 44px;
                }

                .bookmarks::before {
                    position: absolute;
                    display: block;
                    content: "";
                    width: 14px;
                    height: 16px;
                    top: 12px;
                    left: 17px;
                    background: url("../img/sprite.png") no-repeat -2px -44px;
                    opacity: 0.3;
                }

                .cart {
                    text-indent: 50px;
                }

                .cart::before {
                    position: absolute;
                    display: block;
                    content: "";
                    width: 17px;
                    height: 16px;
                    top: 12px;
                    left: 17px;
                    background: url("../img/sprite.png") no-repeat -2px -64px;
                    opacity: 0.3;
                }

                .bookmarks:hover::before,
                .cart:hover::before {
                    opacity: 1;
                }

                .bookmarks:hover,
                .cart:hover {
                    background-color: #212a3a;
                }

                .bookmarks:active::before,
                .cart:active::before {
                    opacity: 0.5;
                }              

                .bookmarks:active,
                .cart:active {
                    background-color: #161d29;
                }       

                .order {
                    text-align: center;
                    background-color: #63a63e;
                }

                .order:hover {
                    background-color: #91cf72;
                }

                .order:active {
                    background-color: #799970;
                }
 
    .header-bottom {
        padding-top: 46px;
        padding-bottom: 60px;
        background-color: #f1f5f7;
    }

            .text {
                width: 248px;
                float: left;
                font-size: 16px;
                line-height: 23px;
                color: #ee3643;
                font-weight: normal;
                font-style: italic;
                margin-left: 52px;
                padding-bottom: 44px;
            }

            .header-contacts {
                float: left;
                margin-top: 4px;
            }

                .phone {
                    position: relative;
                    padding-left: 72px;
                    padding-right: 49px;
                    font-size: 21px;
                    line-height: 39px;
                    color: #e9292a;
                    font-weight: normal;
                    border: 3px solid #fff;
                }

                .phone::before {
                    position: absolute;
                    display: block;
                    content: "";
                    width: 19px;
                    height: 19px;
                    top: 10px;
                    left: 15px;
                    background: url("../img/sprite.png") no-repeat -2px -622px;
                }

                .address {
                    font-size: 14px;
                    line-height: 20px;
                    color: #32425c;
                    font-weight: normal;
                    text-align: center;
                }

            .user-block {
                float: right;
                margin-top: 4px;
                font-weight: normal;
            }

                .enter,
                .registration {
                    display: block;
                    float: left;
                    font-size: 21px;
                    line-height: 45px;
                    color: #000;
                    font-weight: normal;
                    background-color: #fff;
                    text-decoration: none;
                }

                .user-block .enter {
                    position: relative;
                    padding-left: 14px;
                    text-indent: 34px;
                    padding-right: 27px;
                    margin-right: 10px;
                }

                .user-block .enter::before {
                    position: absolute;
                    content: "";
                    width: 21px;
                    height: 17px;
                    background: url("../img/sprite.png") no-repeat -2px -170px;
                    left: 14px;
                    top: 14px;
                }

                .user-block .registration {
                    width: 150px;
                    text-align: center;
                }

                .user-block .enter:hover,
                .user-block .registration:hover {
                    color: #ee3643;
                }

                .user-block .enter:active,
                .user-block .registration:active {
                    color: rgba(0,0,0,0.3);
                }

                .user-block .enter:hover::before {
                    background-position: -2px -191px;
                }

                .user-name-field {
                    position: relative;
                    width: 299px;
                    height: 45px;
                    margin-bottom: 5px;
                    background-color: #fff;
                }

                .user-name-field::before {
                    position: absolute;
                    content: "";
                    width: 20px;
                    height: 18px;
                    top: 13px;
                    left: 13px;
                    background: url("../img/sprite.png") no-repeat -2px -148px;
                    opacity: 0.3;
                }

                .user-block .user-name {
                    display: block; 
                    width: 205px;
                    margin: 0 47px;
                    font-size: 21px;
                    line-height: 45px;
                    color: #000;
                    overflow: hidden;                 
                    white-space: nowrap;
                }


                .user-block .user-exit {
                    position: absolute;
                    display: block;
                    font-size: 0;
                    top: 14px;
                    right: 10px;
                    width: 21px;
                    height: 17px;
                    background: url("../img/sprite.png") no-repeat -2px -105px;
                    opacity: 0.3;
                }

                .user-name-field:hover::before,
                .user-block .user-exit:hover {
                    opacity: 1;
                }

                .user-name-field:active::before,
                .user-block .user-exit:active,
                .user-block .user-name:active {
                    opacity: 0.3;
                }

                .user-block .user-orders,
                .user-block .user-account {
                    font-size: 16px;
                    line-height: 21px;
                    color: #32425c;
                    background: none;
                    text-decoration: underline;
                }

                .user-block .user-orders {
                    position: relative;
                    margin-left: 17px;
                    padding-right: 19px;
                }

                .user-block .user-account {
                    margin-left: 13px;
                }

                .user-block .user-orders::after {
                    position: absolute;
                    content: "";
                    width: 4px;
                    height: 4px;
                    top: 8px;
                    right: 0;
                    background-color: #32425c;
                    border-radius: 50%;
                }

                .user-block .user-orders:hover,
                .user-block .user-account:hover {
                    color: #ee3643;
                }

                .user-block .user-orders:active,
                .user-block .user-account:active {
                   color: rgba(50,66,92,0.3);
                }

            .main-menu {
                border-bottom: 5px solid #293449;
                clear: both;
                text-align: center;
                background-color: #32425c;
            }

                .main-menu ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    font-size: 0;
                }

                    .main-menu li {
                        display: inline-block;
                        vertical-align: middle;
                        list-style-type: none;
                        padding: 0;
                    }

                        .main-menu a {
	                          display: block;
                            font-size: 17px;
                            line-height: 17px;
                            color: #fff;
                            font-weight: normal;
	                          text-decoration: none;
                            padding: 19px 31px;
                        }

                        .main-menu a:hover {
                            color: rgba(255,255,255,1);
                            background-color: #293449;   
                        }

                        .main-menu a:active {
                            color: rgba(255,255,255,0.5);
                            background-color: #1d2739;   
                        }

    .main-category {
        margin-bottom: 53px;
    }

    .breadcrumbs {
        list-style: none;
        padding: 0;
        padding: 22px 0;
        margin: 0;
        font-size: 0;
    }

        .breadcrumbs li {
            position: relative;
            display: inline-block;
            list-style-type: none;
            padding-right: 40px;
            font-size: 13px;
            line-height: 18px;
            font-weight: normal;
            font-family: "PT Sans", Arial, sans-serif;
            float: left;
        }

            .breadcrumbs a {
                display: block;
                text-decoration: none;
                color: #000;
                float: left;
            }

            .breadcrumbs a::after {
                position: absolute;
                content: "";
                width: 8px;
                height: 12px;
                top: 3px;
                right: 15px;
                background: url("../img/sprite.png") no-repeat -2px -657px;
            }

            .breadcrumbs a:hover {
                text-decoration: underline;
            }

            .breadcrumbs .home {
                font-size: 0;
                width: 15px;
                height: 12px;
                margin-top: 2px;
                background: url("../img/sprite.png") no-repeat -2px -643px;
            }

            .breadcrumbs .current {
                color: #000;
            }

        .category {
            width: 275px;
            padding-top: 19px;
            padding-bottom: 22px;
            padding-left: 25px;
            margin-right: 20px;
            margin-bottom: 20px;
            float: left;
        }

        .category-machinery {
            margin-right: 0;
        }

        .category-discount,
        .category-delivery {
            margin-right: 0;
            float: right;
        }

        .category-materials {
            background: #f6b22d url("../img/category-materials.png") no-repeat 214px 31px;
	    }

        .category-tools {
	        background: #4aafde url("../img/category-tools.png") no-repeat 197px 34px;
        }

        .category-machinery {
            background: #cc79d1 url("../img/category-machinery.png") no-repeat 190px 31px;
        }

        .category-discount {
            background: #85d179 url("../img/category-discount.png") no-repeat 197px 27px;
        }

        .category-delivery {
            background: #f6b22d url("../img/category-delivery.png") no-repeat 191px 32px;
        }

        .new {
            position: relative;
        }

        .new::after {
            position: absolute;
            content: "";
            width: 60px;
            height: 59px;
            top: -1px;
            right: -1px;
            background: url("../img/flag-new.png") no-repeat;
            z-index: 102;
        }

.main-category .new::after {
    top: 0;
    right: 0;
}

            .category-title {
                font-size: 24px;
                line-height: 30px;
                color: #fff;
                font-weight: bold;
                margin: 0;
                padding: 0;
                margin-bottom: 14px;
            }

            .category-btn {
                display: block;                
                width: 135px;
                padding: 10px 0;
                font-size: 14px;
                line-height: 18px;
                color: #fff;
                font-weight: normal;
                text-decoration: none;
                text-transform: uppercase;
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 3px;
                text-align: center;
            }

            .category-btn:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }

            .category-btn:active {
                background-color: rgba(0, 0, 0, 0.3);
            }

        .slider {
            position: relative;
            width: 620px;
            height: 266px;
            float: left;
            background-color: #f2f6f8;
        }

        .slider input[type=radio] {
            position: absolute;
            opacity: 0;
        }
            .slider-controls {
                position: absolute;
                bottom: 36px;
                left: 50%;
                width: 100px;
                height: 10px;
                margin-left: -50px;
                z-index: 300;
                text-align: center;
            }

                .slider-controls label {
                    display: inline-block;
                    vertical-align: top;
                    width: 6px;
                    height: 6px;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    background-color: #fff;
                    margin: 0 3px;
                    font-size: 0;
                    line-height: 0;
                    padding: 0;
                    cursor: pointer;
                }

                #btn-1:checked ~ .slider-controls label[for="btn-1"],
                #btn-2:checked ~ .slider-controls label[for="btn-2"] {
                    background-color: #ee3643;
                }

            .slider-btn {
                position: absolute;
                display: block;
                width: 22px;
                height: 40px;
                top: 114px;
                border: none;
                font-size: 0;
                background: url("../img/sprite.png") no-repeat -2px -578px;
                z-index: 300;
            }

            .slider-btn:hover {
                color: red;
            }

                .left {
                    left: 25px;
                }

                .right {
                    right: 25px;
                    transform: rotate(180deg);
                }

            .slide {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

            .slide:nth-child(1) {
                background: url("../img/slider-image1.jpg") no-repeat 100% 100%;
            }

            .slide:nth-child(2) {
                background: url("../img/slider-image2.jpg") no-repeat 100% 100%;
            }

            .slide:nth-child(1) {
                display: block;
            }

            .slide {
                display: none;
            }

            #btn-1:checked ~ .slides .slide:nth-child(1) {
                display: block;
            }

            #btn-2:checked ~ .slides .slide:nth-child(2) {
                display: block;
            }

                .slider-top {
                    position: absolute;
                    top: 27px;
                    left: 27px;
                }

                    .slider-title {
                        font-size: 36px;
                        line-height: 36px;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: #fff;
                        margin: 0;
                    }

                    .slider-text {
                        font-size: 18px;
                        line-height: 24px;
                        color: #fff;
                        font-weight: normal;
                        font-family: "PT Sans", Arial, sans-serif;
                    }

                .main-btn {
                    display: block;
                    padding: 10px 0;
                    color: #fff;
                    background-color: #ee3643;
                    text-decoration: none;
                    text-transform: uppercase;
                    border-radius: 3px;
                    text-align: center;
                }

                .slider .main-btn {
                    width: 195px;
                }

                .main-btn:hover {
                    background-color: #ca2c37;
                }

                .main-btn:active {
                    background-color: #ba2732;
                }

                .btn-show-catalog {
                    position: absolute;
                    bottom: 22px;
                    left: 25px;
                }

    .content {
        margin-bottom: 21px;
    }

    .content:last-child {
        margin-bottom: 85px;
    }

        .content-header,
        .main-content .content-header {
            margin-bottom: 20px;
            background-color: #f7f3ec;
        }
        
        .content-header {
            padding-top: 25px;
            padding-right: 24px;
            padding-bottom: 26px;
            padding-left: 27px;
            background-color: #f2f6f8;
        }

            .content-header .content-title {
                font-size: 30px;
                line-height: 38px;
                margin: 0;
                color: #32425c;
                font-weight: normal;
                text-transform: uppercase;
            }

            .content-title {
                float: left;
                font-size: 30px;
                line-height: 30px;
                color: #32425c;
                font-weight: bold;
                text-transform: uppercase;
            }

            .content-header .main-btn {
                width: 243px;
                float: right;
            }

        .range-filter {
            width: 220px;
            float: left;
        }
        
        .content-column-title {            
            padding: 10px 19px;
            background-color: #f7f3ec;
            border-radius: 3px;
        }

        .content-column-title span {
            display: block;
            float: left;            
            font-family: "PT Sans", Arial, sans-serif;
            font-size: 13px;
            line-height: 18px;
            margin: 0;
            color: #000;
            font-weight: normal;
        }

    .filter-group {
        border-bottom: 1px solid #e5e5e5;
    }

    .power-supply {
        border-bottom: none;
    }

        .filter-group-title {            
            font-family: "PT Sans", Arial, sans-serif;
            font-size: 17px;
            line-height: 30px;
            color: #000;
            font-weight: bold;
            margin: 0;
            margin-top: 10px;
            margin-bottom: 15px;
        }

        .range-controls {
            height: 80px;
            margin-bottom: 9px;
            background-color: #f7f3ec;
            border-radius: 3px;
            position: relative;
            margin-bottom: 15px;
            padding: 0 30px;
            overflow: hidden;
        }

        .scale{
            margin-top: 39px;
            height: 2px;
            background: #d7dcde;
        }

        .bar {
            height: 2px;
            background: #00ca74;
        }

        .toggle {
            position: absolute;
            top: 30px;
            left: 30px;
            width: 4px;
            height: 4px;
            border: 8px solid white;
            background: #ababab;
            cursor: pointer;
            border-radius: 50%;
        }

        .min-toggle {
            left: 70px;
        }

        .max-toggle {
            left: 165px;
        }

        .price-controls {
            margin-bottom: 25px;
        }

        .price-controls input[type="text"] {
            display: block;
            float: left;
            padding: 0;
            width: 95px;
            height: 38px;
            border: none;
            background-color: #f7f3ec;
            border-radius: 3px;
            text-align: center;
        }

        .price-controls span {
            width: 30px;
            display: block;
            float: left;
            padding: 10px 0;
            font-family: "PT Sans", Arial, sans-serif;
            font-size: 16px;
            line-height: 18px;
            color: #444444;
            text-align: center;
        }

        .price-controls input[type="text"]:last-child {
            float: right;
        }

        .filter-list {
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 0;
        }

            .filter-list li {
                list-style-type: none;
                padding: 0;
                margin: 0;
                cursor: pointer
            }

            .filter-list li:last-child {
                margin-bottom: 23px;
            }

            .filter-list input[type=checkbox],
            .filter-list input[type=radio] {
                display: none;
            }

            .filter-list label {
                display: block;
                position: relative;
                padding-left: 35px;                
                margin-bottom: 20px;
                font-size: 15px;
                line-height: 20px;
                color: #000;
                font-weight: normal;
                font-family: "PT Sans", Arial, sans-serif;
                text-transform: uppercase;
                cursor: pointer;
            }

            .filter-list input[type="radio"] + label {
                font-size: 14px;
            }

            .filter-list input[type=checkbox] + label::before {
                position: absolute;
                display: block;
                content: "";
                width: 27px;
                height: 23px;
                top: 0;
                left: 0;
                background-color: black;
                background: url("../img/sprite.png") no-repeat -2px -411px;
                cursor: pointer;
            }

            .filter-list input[type=checkbox] + label:hover::before {
                background-position: -2px -438px;
            }

            .filter-list input[type=checkbox]:checked + label::before {
                background-position: -2px -465px;
            }

            .filter-list input[type=checkbox]:checked + label:hover::before {
                background-position: -2px -492px;
            }

            .filter-list input[type=checkbox]:disabled + label {
                color: rgba(0,0,0,0.4);
            }

            .filter-list input[type=checkbox]:disabled + label::before {
                background-position: -2px -492px;
                opacity: 0.3;
            }

            .filter-list input[type=radio] + label::before {
                position: absolute;
                display: block;
                content: "";
                width: 9px;
                height: 9px;
                top: 2px;
                left: 3px;
                background-color: #fff;
                border-radius: 50%;
                border: 4px solid #fff;
                box-shadow: 0 0 0 3px #c1c1c1;
                cursor: pointer;
            }

            .filter-list input[type=radio] + label:hover::before {
                box-shadow: 0 0 0 3px #b5b5b5;
            }

            .filter-list input[type=radio]:checked + label::before {
                background-color: #c1c1c1;
            }

            .filter-list input[type=radio]:checked + label:hover::before {
                box-shadow: 0 0 0 3px #b5b5b5;
                background-color: #b5b5b5;
            }

            .filter-list input[type=radio]:disabled + label::before {
                box-shadow: 0 0 0 3px rgba(181,181,181,0.3);
            }

            .filter-list input[type=radio]:disabled + label {
                color: rgba(0,0,0,0.4);
            }

            .range-filter button[type="button"] {
                margin-top: 79px;
            }

        .catalog {
            width: 700px;
            float: right;
        }

            .sort-controls {
                float: right;
                list-style: none;
                padding: 0;
                margin: 0;
                font-size: 0;
            }

                .sort-controls li {
                    list-style-type: none;
                    display: inline-block;
                    vertical-align: top;
                }

                    .sort-btn {
                        display: block;
                        font-size: 13px;
                        line-height: 18px;
                        color: rgba(0,0,0,0.3);
                        font-weight: normal;
                        font-family: "PT Sans", Arial, sans-serif;
                        text-transform: uppercase;
                        text-decoration: underline;
                        text-decoration-style: dotted;
                        text-decoration-color: #ee3643;
                        margin-left: 60px;
                    }

.sort-btn:hover {
    color: #000;
    text-decoration-style: solid;
}


.sort-btn-active {
    color: #ee3643;
    text-decoration: none;
}

.sort-btn-active:hover {
    color: #ee3643;
}


.sort-arrow {
    display: block;
    width: 11px;
    height: 10px;
    margin-top: 4px;
    font-size: 0;
    background: url("../img/sprite.png") no-repeat;
}

.sort-min {
    margin-left: 46px;
    background-position: -2px -227px;
}

.sort-min:hover {
    background-position: -2px -241px;
}

.sort-max {
    margin-left: 21px;
    background-position: -2px -268px;
}

.sort-max:hover {
    background-position: -2px -281px;
}

.sort-arrow-active {
    background: url("../img/sprite.png") no-repeat;
    background-position: -2px -213px;
}
        .item {
            position: relative;
            display: inline-block;
            vertical-align: top;
            float: left;
            width: 220px;
            border: 1px solid #e5e5e5;
            font-size: 0;
            margin: 0;            
            margin-right: 20px;
            padding-bottom: 20px;
            box-sizing: border-box;
        }

        .item:last-child {
            margin-right: 0;
        }

        .catalog .item:nth-child(3n+4) {
            margin-right: 0;
        }

        .catalog .item {
            margin-top: 20px;
        }

            .actions {
                position: absolute;
                display: none;
                top: 0;
                left: 0;
                width: 218px;
                padding-top: 45px;
                padding-bottom: 43px;
                background-color: rgba(255,255,255,0.9);                
                z-index: 101;
            }

            .item:hover {
                border-color: #fff;
                box-shadow: 0 10px 23px 0px rgba(41,52,73,0.5);
            }

            .item:hover .actions {
                display: block;
            } 

                .btn {
                    display: block;
                    width: 129px;
                    height: 32px;
                    font-size: 14px;
                    line-height: 32px;
                    font-weight: normal;
                    text-decoration: none;
                    text-transform: uppercase;
                    border: 3px solid #63a63e;
                    border-radius: 3px;
                    text-align: center;
                    margin: 0 auto;
                }

                    .btn-buy {
                        position: relative;
                        color: #fff;
                        border-bottom-color: #367315;
                        background-color: #63a63e;
                        margin-bottom: 7px;
                    }

                    .btn-buy::before {
                        position: absolute;
                        display: block;
                        content: "";
                        width: 17px;
                        height: 16px;
                        top: 7px;
                        left: 13px;
                        background: url("../img/sprite.png") no-repeat -2px -64px;
                        opacity: 0.3;
                    }

                    .btn-buy:hover::before,
                    .btn-buy:active::before {
                        opacity: 1;
                    }

                    .btn-buy:hover {
                        border-color: #5fbb2d;
                        border-bottom-color: #377416;
                        background-color: #5fbb2d;
                    }

                    .btn-buy:active {
                        border-color: #518534;
                        background-color: #518534;
                    }

                    .btn-bookmark {
                        color: #32425c;
                        border-color: #367315;
                        background-color: #fff;
                    }
                    
                    .btn-bookmark:hover {
                        border-color: #32425c;
                    }

                    .btn-bookmark:active {                        
                        opacity: 0.3;
                    }

            .item-image {
                display: table-cell;
                vertical-align: middle;
                width: 218px;
                height: 170px;                
                padding-bottom: 10px;
            }

            .item-image img {
                display: block;
                padding: 0;
                margin: 0 auto;
            }

            .item-title {
                min-height: 40px;
                font-size: 18px;
                line-height: 20px;
                color: #000;                
                font-family: "PT Sans", Arial, sans-serif;
                font-weight: bold;
                padding: 0 25px;
                text-align: center;
            }

            .item-price {
                position: relative;
                margin: 0 auto;
                width: 141px;
                min-height: 20px;
                font-size: 17px;
                line-height: 20px;
                background-color: #ee3643;
                font-weight: bold;
                font-family: "PT Sans", Arial, sans-serif;
                padding: 9px 0;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                border-radius: 3px;
            }

            .item-price::before {
                position: absolute;
                content: "";
                width: 21px;
                top: -1px;
                right: -1px;
                height: 21px;
                background: url("../img/btn.png") no-repeat;
            }

            .item-price::after {
                position: absolute;
                content: "";
                width: 21px;
                bottom: -1px;
                right: -1px;
                height: 21px;
                transform: rotate(90deg);
                background: url("../img/btn.png") no-repeat;
            }

            .old-price {
                color: #999;
                text-decoration: line-through;
                background: none;
            }

            .flag {
                position: relative;
            }

        .paginator {
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 0;
            clear: both;
        }

            .paginator li {
                list-style-type: none;
                display: inline-block;
                vertical-align: top;
                margin-right: 20px;
                margin-top: 52px;
                margin-bottom: 60px;
                font-size: 13px;
                line-height: 18px;
                font-weight: normal;
                font-family: "PT Sans", Arial, sans-serif;
                text-transform: uppercase;
                text-align: center;
                border-radius: 3px;
            }

            .paginator-btn,
            .range-filter button[type="button"] {
                display: block;
                width: 36px;
                padding: 9px 0;
                color: #000;                
                background-color: #fff;
                border: 1px solid #e5e5e5;
                list-style-type: none;
                text-decoration: none;
                border-radius: 3px;                
            }

            .paginator-btn:hover,
            .range-filter button[type="button"]:hover{
                border-color: #c1c6ce;
            }

            .paginator-btn:active,
            .range-filter button[type="button"]:active {
                border-color: #ee3643;
            }

            .paginator-btn-active {                
                display: block;
                width: 38px;
                padding: 10px 0;
                color: #fff;                
                background-color: #ee3643;                
                border-radius: 3px;
            }

            .paginator .next-page,
            .range-filter button[type="button"] {
                width: 138px;
            }

            .manufacturers {
                list-style: none;
                padding: 0;
                margin: 0;
                font-size: 0;
            }

                .manufacturers li {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    font-size: 0;
                    float: left;
                    width: 220px;
                    height: 145px;
                    margin-right: 20px;
                }

                    .manufacturers-logo {
                        display: inline-block;
                        vertical-align: top;
                    }

                    .manufacturers li:nth-child(4n) {
                        margin-right: 0;
                    }

                    .manufacturers li:nth-child(-n+4) {
                        margin-bottom: 20px;
                    }

                    .manufacturers-logo:hover {                        
                        border-color: #fff;
                        box-shadow: 0 10px 23px 0px rgba(41,52,73,0.5);
                    }

                    .manufacturers-logo:active {
                        border-color: #fff;
                        box-shadow: 0 4px 10px 0px rgba(41,52,73,0.5);
                    }

                        .manufacturers-logo img {
                            display: block;
                            width: 218px;
                            height: 143px;
                            border: 1px solid #e7e7e7;
                        }

                        .manufacturers-logo img:hover {
                            border: 1px solid #fff;
                        }

                        .manufacturers-logo img:active {
                            opacity: 0.3;
                            border: 1px solid #fff;
                        }

.section-services,
.catalog-information {
    padding-top: 67px;
    background-color: #f2f6f8;
}

.catalog-information {
    padding-bottom: 67px;
}
    
        .section-title {
            font-size: 30px;
            line-height: 24px;
            color: #000;
            font-weight: normal;
            text-transform: uppercase;
            margin: 0;
            margin-bottom: 31px;
        }

        .section-services p {
            width: 400px;
        }

        .catalog-information p {
            width: 100%; 
        }

        .section-text {
            font-size: 13px;
            line-height: 24px;
            color: #000;
            font-weight: normal;
            font-family: "PT Sans", Arial, sans-serif;
            margin: 0;
        }

        .section-services p {
            margin: 0;
        }

        .tabs {
            position: relative;
            margin-top: 68px;
            height: 284px;
        }
  
            .tabs input[type=radio] {
                position: absolute;
                display: none;
                top: 0;
                left: 0;
                z-index: 1000;
            }

            .tabs-controls {
                position: relative;
                float: left;
            }


            .tabs-controls::after {
                position: absolute;
                content: "";
                width: 10px;
                height: 272px;
                top: -38px;
                right: 0;
                background: url("../img/grad-line.png") no-repeat;
            }

                .tabs-controls label {
                    display: block;
                    width: 223px;
                    font-size: 21px;
                    line-height: 30px;
                    color: #fff;
                    font-weight: bold;
                    background-color: #32425c;
                    border-top: 1px solid #405069;
                    border-bottom: 1px solid #293449;
                    padding: 17px 0;
                    padding-left: 17px;
                    cursor: pointer;
                }

                .tabs-controls label:hover {
                    color: #fff;
                    border-top-color: #405069;
                    border-bottom-color: #293449;
                    background-color: #293449;
                }

                        #tab-1:checked ~ .tabs-controls label[for="tab-1"],
                        #tab-2:checked ~ .tabs-controls label[for="tab-2"],
                        #tab-3:checked ~ .tabs-controls label[for="tab-3"] {
                            color: #32425c;
                            background-color: #fff;
                            border: none;
                        }

        .tabs-gallery {
            position: absolute;
            top: 0;
            left: 320px;
            float: left;
            width: 646px;
            height: 284px;
        }

            .tabs-gallery .tab {
                position: absolute;
                right: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .tabs-gallery .tab:nth-child(1) {
                background: url("../img/delivery.png") no-repeat 150px 23px;
            }

            .tabs-gallery .tab:nth-child(2) {
                background: url("../img/guarantee.png") no-repeat 240px 12px;
            }  

            .tabs-gallery .tab:nth-child(3) {
                background: url("../img/credit.png") no-repeat 181px 0;
            }

            .tabs-gallery .tab {
                display: none;
            }

            #tab-1:checked ~ .tabs-gallery .tab:nth-child(1) {
                display: block;
            }

            #tab-2:checked ~ .tabs-gallery .tab:nth-child(2) {
                display: block;
            }

            #tab-3:checked ~ .tabs-gallery .tab:nth-child(3) {
                display: block;
            }
 
            .services-content {
                width: 400px;
            }

                .services-content-title {
                    font-size: 36px;
                    line-height: 24px;
                    color: #32425c;
                    font-weight: normal;
                    margin: 0;
                }

                .services-content .section-text {
                    margin: 25px 0;
                    width: auto;
                }

.section-information {
    padding-top: 82px;
    padding-bottom: 86px;
}

        .about {
            width: 540px;
            float: left;
        }

            .section-information .section-text {
                margin-bottom: 24px;
            }

            .section-list {
                list-style: none;
                padding: 0;
                margin: 0;
                margin-bottom: 30px;
            }

                .section-list li {
                    position: relative;
                    font-size: 18px;
                    line-height: 20px;
                    color: #000;
                    font-weight: normal;
                    list-style-type: none;
                    padding-left: 36px;
                    margin-bottom: 20px;
                }

                .section-list li::before {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 10px;
                    content: "";
                    width: 25px;
                    height: 2px;
                    background-color: #fb565a;
                }

.about .main-btn {
    width: 220px;
}

        .contacts {
            width: 300px;
            float: right;
        }

.contacts img {
    width: 300px;
    height: 158px;
    margin-bottom: 40px;
}

.main-footer {
    
}

    .footer-top {
        background-color: #32425c;
        padding-bottom: 50px;
    }

        .footer-top-leftCol {
            float: left;
        }

            .footer-logo {
                margin-bottom: 32px;
                padding: 16px 0;
                font-size: 30px;
                line-height: 30px;
            }

            .footer-address {
                font-size: 18px;
                line-height: 24px;
                color: #f1f5f7;
                font-weight: normal;
            }

        .footer-top-rightCol {
            float: right;
            margin-top: 37px;
        }

            .footer-nav {
                list-style: none;
                padding: 0;
                margin: 0;
                font-size: 0;
                clear: both;
                float: right;
                margin-bottom: 34px;
            }

                .footer-nav li {
                    display: inline-block;
                    vertical-align: top;
                    padding: 0;
                    margin: 0;
                    margin-left: 60px;
                }

                .footer-nav li:first-child {
                    margin-left: 0;
                }

                    .footer-nav a {
                        display: block;
                        font-size: 18px;
                        line-height: 24px;
                        color: #f1f5f7;
                        font-weight: normal;
                        text-decoration: none;
                    }

                    .footer-nav a:hover,
                    .footer-catalog a:hover {
                        text-decoration: underline;
                    }

                    .footer-nav a:active,
                    .footer-catalog a:active {
                        opacity: 0.5;
                    }

            .footer-catalog {
                list-style: none;
                padding: 0;
                margin: 0;
                font-size: 0;
                float: right;
                clear: both;
            }

                .footer-catalog li {
                    display: inline-block;
                    vertical-align: top;
                    padding: 0;
                    margin: 0;
                    margin-left: 60px;
                }

                .footer-catalog li:first-child {
                    margin-left: 0;
                }

                    .footer-catalog a {
                        display: block;
                        font-size: 18px;
                        line-height: 24px;
                        color: #ffd180;
                        font-weight: normal;
                        text-decoration: none;
                    }

    .footer-bottom {
        padding-top: 36px;
        padding-bottom: 31px;
        background-color: #293449;
    }

        .copyright {
            float: left;
            width: 240px;
            font-size: 16px;
            line-height: 18px;
            color: #fff;
            font-weight: normal;
            margin-right: 150px;
        }

        .social {
            float: left;
            width: 150px;
            margin-right: 100px;
        }

            .social-icon {
                position: relative;                
                display: inline-block;
                vertical-align: top;
                width: 40px;
                height: 40px;
                margin-right: 3px;
                font-size: 0;
                border-radius: 100%;
                background-color: #212a3a;
            }

            .social-icon:hover {
                background-color: #ee3643;
            }

            .vk::before {
                position: absolute;
                content: "";
                width: 20px;
                height: 12px;
                top: 14px;
                left: 10px;
                background: url("../img/sprite.png") no-repeat;
                background-position: -2px -519px;
            }

            .fb::before {
                position: absolute;
                content: "";
                width: 10px;
                height: 18px;
                top: 10px;
                left: 15px;
                background: url("../img/sprite.png") no-repeat;
                background-position: -2px -535px;
            }

            .inst::before {
                position: absolute;
                content: "";
                width: 17px;
                height: 17px;
                top: 12px;
                left: 12px;
                background: url("../img/sprite.png") no-repeat;
                background-position: -2px -557px;
            }

            .footer-bottom a {
                color: #ffd180;
                text-decoration: none;
            }

            .feedback {
                float: left;
                width: 140px;
                font-size: 16px;
                line-height: 18px;
                color: #fff;
                font-weight: normal;
                margin-right: 49px;
            }

            .developer {
                float: left;
                font-size: 16px;
                line-height: 18px;
                color: #fff;
                font-weight: normal;
                text-align: center;
            }

.modal-write-us,
.added-to-card,
.modal-big-map {
    display: none;
    position: fixed;
    width: 620px;
    top: 100px;
    left: 50%;
    margin-left: -310px;
    border-top: 7px solid #ee3643;
    background-color: #fff;
    box-shadow: 0 20px 40px 0 rgba(0,1,1,0.75);
    z-index: 1000;
    font-size: 13px;
    line-height: 18px;
    color: #000;
    font-weight: normal;
    font-family: "PT Sans", Arial, sans-serif;
}


.modal-content-show {
    display: block;
}


    .modal-write-us p {
        position: relative;
        margin: 0;
        padding-bottom: 10px;
        font-size: 18px;
        line-height: 18px;
        color: #000;
        font-weight: normal;
        clear: both;
    }

    .pop-up-close {
        position: absolute;
        width: 21px;
        height: 21px;
        top: 9px;
        right: 9px;
        font-size: 0;
        border: none;
        outline: none;
        cursor: pointer;
        background: none;
    }

    .pop-up-close::before,
    .pop-up-close::after {
        position: absolute;
        content: "";
        width: 25px;
        height: 5px;
        top: 8px;
        right: -2px;        
        background-color: #ee3643;
        border-radius: 1px;
    }

    .pop-up-close::before {
        transform: rotate(45deg);
    }

    .pop-up-close::after {
        transform: rotate(-45deg);
    }

        .pop-up-wrapper {
            margin: 37px 80px;
        }

    .write-us-column-left {
        float: left;

    }

    .write-us-column-right {
        float: right;
    }

    .modal-write-us input[type="text"] {
        display: block;
        width: 188px;
        padding: 8px 14px;
        margin-bottom: 20px;
        border: 2px solid #d7dcde;
        border-radius: 3px;
    }

    textarea {
        min-width: 428px;
        max-width: 428px;
        min-height: 94px;
        padding: 8px 14px;
        border: 2px solid #d7dcde;    
        border-radius: 3px;
    }

    .btn-field {        
        padding: 37px 0;
        background-color: #f1f1f1;
    }

    .pop-up .main-btn {
        margin: 0 auto;
        width: 460px;
        border: none;
        font-size: 14px;
        line-height: 18px;
    }


.added-to-card p {    
    float: left;
    font-size: 30px;
    line-height: 18px;
    padding: 0;
    margin-top: 23px;
}

.added-to-card-icon {
    position: relative;
    float: left;
    margin-right: 33px;
    width: 64px;
    height: 64px;
    background-color: #63a63e;
    border-radius: 50%;
}

.added-to-card-icon::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 8px;    
    top: 30px;
    left: 21px;    
    border-radius: 1px;
    transform: rotate(-45deg);
    background-color: #fff;
}

.added-to-card-icon::after {
    position: absolute;
    content: "";
    width: 22px;
    height: 8px;       
    top: 35px;
    left: 12px;
    border-radius: 1px;
    transform: rotate(45deg);
    background-color: #fff;
}
.added-to-card .btn-field {
    text-align: center;
}
.added-to-card .main-btn {
    display: inline-block;
    width: 220px;
    margin-right: 17px;
}

.added-to-card .main-btn:last-child {    
    margin-right: 0;
}

.modal-big-map {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -223px;
    margin-left: -470px;
    width: 940px;
    height: 446px;
    background: url("../img/big-map.jpg") no-repeat;
    box-shadow: 0 0 16px 8px rgba(35,31,32,0.5);
    border: none;
}