html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 13px;
    line-height: 18px;
    color: #000;
    font-weight: normal;
    font-family: "PT Sans", Arial, sans-serif;
}

.main-header {
    margin-bottom: 59px;
}

    .header-top {
        background-color: #293449;
    }

        .wrapper {
            width: 940px;
            margin: 0 auto;
            padding: 0 10px;
            outline: 1px dashed blue;    
        }
        
        .clearfix::after {
            content: "";
            display: block;
            clear: both;
        }

            .header-top a {
                color: #fff;
                text-transform: uppercase;
                text-decoration: none;
            }

            .header-logo {
                position: relative;
                display: block;
                float: left;
                padding: 9px 0;
                width: 220px;
                font-weight: bold;
                font-family: "Cuprum";
                font-size: 24px;
                line-height: 24px;
                color: #fff;
                background-color: #ee3643;
                text-align: center;
                text-transform: uppercase;
            }

            .header-logo::after {
                display: block;
                position: absolute;
                top: 42px;
                content: "";
                height: 5px;
                width: 220px;
                background-color: #b52933;
            }

            .search {
                position: relative;
                display: block;
                float: left;
                width: 270px;
            }

                .search-field {
                    width: 206px;
                    padding: 12px 0;
                    padding-left: 49px;
                    padding-right: 15px;
                    border: none;
                    font-size: 17px;
                    line-height: 18px;
                    color: #fff;
                    font-weight: normal;
                    font-family: "Cuprum";
                    text-decoration: none;
                    background-color: #293449;
                    opacity: 1;
                    text-transform: none;
                }

                .search::before {
                    position: absolute;
                    display: block;
                    content: "";
                    width: 17px;
                    height: 17px;
                    top: 12px;
                    left: 17px;
                    background: url("../img/sprite.png") no-repeat;
                    opacity: 0.3;
                    z-index: 100;
                }

                .search:hover::before {
                    opacity: 1;
                }

                .search::before .search-field:focus {
                    background: green url("../img/sprite.png") no-repeat 0 0;
                }

                .search-field:hover {
                    background-color: #212a3a;
                }
                .search-field:active {
                    background-color: #293449;
                }
                .search-field:focus {
                    background-color: #fff;
                    color: #000;
                }

            .header-btn {
                position: relative;
                display: block;
                width: 150px;
                font-size: 17px;
                line-height: 18px;
                font-family: "Cuprum";
                padding: 12px 0;
                float: left;
            }

            .header-btn:active {
                color: rgba(255,255,255,0.6);
            }
                        
                .bookmarks {
                    text-indent: 44px;
                }

                .bookmarks::before {
                    position: absolute;
                    display: block;
                    content: "";
                    width: 14px;
                    height: 16px;
                    top: 12px;
                    left: 17px;
                    background: url("../img/sprite.png") no-repeat -2px -44px;
                    opacity: 0.3;
                }

                .cart {
                    text-indent: 50px;
                }

                .cart::before {
                    position: absolute;
                    display: block;
                    content: "";
                    width: 17px;
                    height: 16px;
                    top: 12px;
                    left: 17px;
                    background: url("../img/sprite.png") no-repeat -2px -64px;
                    opacity: 0.3;
                }


                .bookmarks:hover::before,
                .cart:hover::before {
                    opacity: 1;
                }

                .bookmarks:hover,
                .cart:hover {
                    background-color: #212a3a;
                }

                .bookmarks:active::before,
                .cart:active::before {
                    opacity: 0.5;
                }

                .bookmarks:active,
                .cart:active {
                    background-color: #161d29;
                }

                .order {
                    text-align: center;
                    background-color: #63a63e;
                }

                .order:hover {
                    background-color: #91cf72;
                }

                .order:active {
                    background-color: #799970;
                }
 
    .header-bottom {
        padding-top: 46px;
        padding-bottom: 60px;
        background-color: #f1f5f7;
    }

            .text {
                width: 248px;
                float: left;
                font-size: 16px;
                line-height: 23px;
                color: #ee3643;
                font-weight: normal;
                font-family: "Cuprum";
                font-style: italic;
                margin-left: 52px;
                padding-bottom: 44px;
            }

            .header-contacts {
                float: left;
                margin-top: 4px;
            }

                .phone {
                    position: relative;
                    padding-left: 72px;
                    padding-right: 49px;
                    font-size: 21px;
                    line-height: 39px;
                    color: #e9292a;
                    font-weight: normal;
                    font-family: "Cuprum";
                    border: 3px solid #fff;
                }

                .phone::before {
                    position: absolute;
                    display: block;
                    content: "";
                    width: 19px;
                    height: 19px;
                    top: 10px;
                    left: 15px;
                    background: url("../img/sprite.png") no-repeat -2px -622px;
                }

                .address {
                    font-size: 14px;
                    line-height: 20px;
                    color: #32425c;
                    font-weight: normal;
                    font-family: "Cuprum"; 
                    text-align: center;
                }

            .user-block {
                float: right;
                margin-top: 4px;
            }

                .user-block a {
                    display: block;
                    float: left;
                    font-size: 21px;
                    line-height: 45px;
                    color: #000;
                    font-weight: normal;
                    font-family: "Cuprum";
                    background-color: #fff;
                    text-decoration: none;
                }

                .user-block .enter {
                    position: relative;
                    padding-left: 14px;
                    text-indent: 34px;
                    padding-right: 27px;
                    margin-right: 10px;
                }

                .user-block .enter::before {
                    position: absolute;
                    content: "";
                    width: 21px;
                    height: 17px;
                    background: url("../img/sprite.png") no-repeat -2px -170px;
                    left: 14px;
                    top: 14px;
                }

                .user-block .registration {
                    width: 150px;
                    text-align: center;
                }

                .user-block .enter:hover,
                .user-block .registration:hover {
                    color: #ee3643;
                }

                .user-block .enter:active,
                .user-block .registration:active {
                    color: rgba(0,0,0,0.3);
                }

                .user-block .enter:hover::before {
                    background-position: -2px -191px;
                }

            .main-menu {
                border-bottom: 5px solid #293449;
                clear: both;
                text-align: center;
                background-color: #32425c;
            }

                .main-menu ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    font-size: 0;
                }

                    .main-menu li {
                        display: inline-block;
                        vertical-align: middle;
                        list-style-type: none;
                        padding: 0;
                    }

                        .main-menu a {
	                          display: block;
                            font-size: 17px;
                            line-height: 17px;
                            color: #fff;
                            font-weight: normal;
                            font-family: "Cuprum";
	                          text-decoration: none;
                            padding: 19px 30px;
                        }

                        .main-menu a:hover {
                            color: rgba(255,255,255,1);
                            background-color: #293449;   
                        }

                        .main-menu a:active {
                            color: rgba(255,255,255,0.5);
                            background-color: #1d2739;   
                        }

    .main-category {
        margin-bottom: 53px;
    }

    .breadcrumbs {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 0;
        outline: 1px solid red;
    }

        .breadcrumbs li {
            list-style-type: none;
        }

            .breadcrumbs a {
                display: block;
                font-size: 13px;
                line-height: 18px;
                color: #000;
                font-weight: normal;
                font-family: "PT Sans";
                text-decoration: none;
                float: left;
                padding: 22px 0;
            }

        .category {
            width: 275px;
            padding-top: 19px;
            padding-bottom: 22px;
            padding-left: 25px;
            margin-right: 20px;
            margin-bottom: 20px;
            float: left;
        }

        .category-machinery {
            margin-right: 0;
        }

        .category-discount,
        .category-delivery {
            margin-right: 0;
            float: right;
        }

        .category-materials {
            background: #f6b22d url("../img/category-materials.png") no-repeat 214px 31px;
	    }

        .category-tools {
	        background: #4aafde url("../img/category-tools.png") no-repeat 197px 34px;
        }

        .category-machinery {
            background: #cc79d1 url("../img/category-machinery.png") no-repeat 190px 31px;
        }

        .category-discount {
            background: #85d179 url("../img/category-discount.png") no-repeat 197px 27px;
        }

        .category-delivery {
            background: #f6b22d url("../img/category-delivery.png") no-repeat 191px 32px;
        }

        .new {
            position: relative;
        }

        .new::after {
            position: absolute;
            content: "";
            width: 60px;
            height: 59px;
            top: -1px;
            right: -1px;
            background: url("../img/icons/30.png") no-repeat;
            z-index: 100;
        }

            .category-title {
                font-size: 24px;
                line-height: 30px;
                color: #fff;
                font-weight: bold;
                font-family: "Cuprum";
                margin: 0;
                padding: 0;
                margin-bottom: 14px;
            }

            .category-btn {
                display: block;                
                width: 135px;
                padding: 10px 0;
                font-size: 14px;
                line-height: 18px;
                color: #fff;
                font-weight: normal;
                font-family: "Cuprum";
                text-decoration: none;
                text-transform: uppercase;
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 3px;
                text-align: center;
            }

            .category-btn:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }

            .category-btn:active {
                background-color: rgba(0, 0, 0, 0.3);
            }

        .slider {
            position: relative;
            width: 620px;
            height: 266px;
            float: left;
        }

            .slider-top {
                position: absolute;
                top: 27px;
                left: 27px;
                
            }

                .slider-title {
                    font-size: 36px;
                    line-height: 36px;
                    font-weight: bold;
                    font-family: "Cuprum";
                    text-transform: uppercase;
                    color: #fff;
                    margin: 0;
                }

                .slider-text {
                    font-size: 18px;
                    line-height: 24px;
                    color: #fff;
                    font-weight: normal;
                    font-family: "PT Sans";
                }

            .slider-btn {
                position: absolute;
                display: block;
                width: 22px;
                height: 40px;
                top: 114px;
                border: none;
                font-size: 0;
                background: url("../img/sprite.png") no-repeat -2px -578px;
            }

            .left {
                left: 25px;
            }

            .right {
                right: 25px;
                transform: rotate(180deg);
            }

            .slider-btn:hover {
                color: red;
            }

            .main-btn {
                display: block;
                padding: 10px 50px;
                color: #fff;
                background-color: #ee3643;
                text-decoration: none;
                text-transform: uppercase;
                border-radius: 3px;
            }

            .main-btn:hover {
                background-color: #ca2c37;
            }

            .main-btn:active {
                background-color: #ba2732;
            }

            .btn-show-catalog {
                position: absolute;
                bottom: 22px;
                    left: 25px;
            }

    .content {
        outline: 1px solid green;
        margin-bottom: 21px;
    }

    .content:last-child {
        margin-bottom: 85px;
    }

        .content-header,
        .main-content .content-header {
            margin-bottom: 20px;
            background-color: #f7f3ec;
        }
        
        .content-header {
            padding-top: 25px;
            padding-right: 24px;
            padding-bottom: 26px;
            padding-left: 27px;
            background-color: #f2f6f8;
        }

            .content-header .content-title {
                font-size: 30px;
                line-height: 38px;
                margin: 0;
                color: #32425c;
                font-weight: normal;
                font-family: "Cuprum";
                text-transform: uppercase;
            }

            .content-title {
                float: left;
                font-size: 30px;
                line-height: 30px;
                color: #32425c;
                font-weight: bold;
                font-family: "Cuprum";
                text-transform: uppercase;
            }

            .content-header a {
                float: right;
            }

        .range-filter {
            width: 220px;
            float: left;
            outline: 1px dashed blue; 
        }
        
        .content-column-title {            
            padding: 10px 19px;
            background-color: #f7f3ec;
            border-radius: 3px;
        }

        .content-column-title span {
            display: block;
            float: left;            
            font-family: "PT Sans";
            font-size: 13px;
            line-height: 18px;
            margin: 0;
            color: #000;
            font-weight: normal;
        }

    .filter-group {
        margin-bottom: 25px;
        border-bottom: 1px solid #e5e5e5;
    }

        .filter-group-title {            
            font-family: "PT Sans";
            font-size: 17px;
            line-height: 30px;
            color: #000;
            font-weight: bold;
            margin: 0;
        }

        .range-controls {
            height: 80px;
            margin-bottom: 9px;
        }

.price-controls {
    height: 38px;
}

        .filter-list {
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 0;
        }

            .filter-list li {
                list-style-type: none;
            }

.filter-list input[type=checkbox],
.filter-list input[type=radio] {
    display: none;
}

        .filter-list label {
            position: relative;
            padding-left: 35px;
            font-size: 15px;
            line-height: 20px;
            color: #000;
            font-weight: normal;
            font-family: "PT Sans";
            text-transform: uppercase;
        }

        .filter-list input[type="radio"] + label {
            font-size: 14px;
        }

        .filter-list input[type=checkbox] + label::before {
            position: absolute;
            display: block;
            content: "";
            width: 27px;
            height: 23px;
            top: 0;
            left: 0;
            background-color: black;
            background: url("../img/sprite.png") no-repeat -2px -411px;
        }

        .filter-list input[type=checkbox]:checked + label::before {
            background-position: -2px -465px;
        }

        .filter-list input[type=radio] + label::before {
            position: absolute;
            display: block;
            content: "";
            width: 9px;
            height: 9px;
            top: 2px;
            left: 2px;
            background-color: #fff;
            border-radius: 50%;
            border: 4px solid #fff;
            box-shadow: 0 0 0 3px #c1c1c1;
        }

        .filter-list input[type=radio]:checked + label::before {
            background-color: #c1c1c1;
        }

        .catalog {
            width: 700px;
            float: right;
            outline: 1px dashed blue;
        }

            .sort-controls {
                float: right;
                list-style: none;
                padding: 0;
                margin: 0;
                font-size: 0;
            }

                .sort-controls li {
                    list-style-type: none;
                    display: inline-block;
                    vertical-align: top;
                }

                    .sort-btn {
                        display: block;
                        font-size: 13px;
                        line-height: 18px;
                        color: #000;
                        font-weight: normal;
                        font-family: "PT Sans";
                        text-transform: uppercase;
                        text-decoration: underline;
                        text-decoration-style: dotted;
                        text-decoration-color: #ee3643; 
                        opacity: 0.3;
                        margin-left: 30px;
                    }

                    .sort-btn-active {
                        color: #ee3643;
                        text-decoration: none;
                        opacity: 1;
                    }

        .item {
            display: inline-block;
            vertical-align: top;
            float: left;
            width: 220px;
            min-height: 316px;
            border: 1px solid #e5e5e5;
            margin-right: 20px;
            text-align: center;
            box-sizing: border-box;
            padding-bottom: 21px;
        }

        .item:last-child {
            margin-right: 0;
        }

        .catalog .item:nth-child(3n+4) {
            margin-right: 0;
        }

        .catalog .item {
            margin-top: 20px;
        }

            .actions {
                display: none;
                width: 220px;
                padding: 43px 0;
            }

            .item:hover {
                box-shadow: 0 10px 23px 0px rgba(41,52,73,0.5);
            }

            .item:hover .actions {
                display: block;
            } 

            .item:hover .item-image,
            .item:hover .item-image img {
                display: none;
            } 

                .btn {
                    display: block;
                    width: 135px;
                    height: 38px;
                    font-size: 14px;
                    line-height: 38px;
                    font-weight: normal;
                    font-family: "Cuprum";
                    text-decoration: none;
                    text-transform: uppercase;
                    border-radius: 3px;
                    text-align: center;
                    margin: 0 auto;
                }

                    .btn-buy {
                        color: #fff;
                        background-color: #63a63e;
                        box-shadow: inset 0 -3px 0 0 #377416;
                        margin-bottom: 8px;
                    }

                    .btn-buy:hover {
                        background-color: #5fbb2d;
                    }

                    .btn-buy:active {
                        background-color: #518534;
                    }

                    .btn-bookmark {
                        color: #32425c;
                        background-color: #fff;
                        box-shadow: inset 0 0 0 3px #63a63e;
                    }
                    
                    .btn-bookmark:hover {
                        box-shadow: inset 0 0 0 3px #32425c;
                    }

                    .btn-bookmark:active {
                        box-shadow: inset 0 0 0 3px #32425c;
                        opacity: 0.3;
                    }

            .item-image {
                display: table-cell;
                vertical-align: middle;
                width: 220px;
                height: 170px;
            }

            .item-image img {
                display: block;
                margin: 0 auto;
            }

            .item-title {
                font-size: 18px;
                line-height: 20px;
                color: #000;                
                font-family: "PT Sans";
                font-weight: bold;
                margin-top: 10px;
                padding: 0 20px;
            }

            .item-price {
                margin: 0 auto;
                width: 141px;
                font-size: 17px;
                line-height: 18px;
                background-color: #ee3643;
                font-weight: bold;
                font-family: "PT Sans";
                padding: 10px 0;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                border-radius: 3px;
            }

            .old-price {
                color: #999;
                text-decoration: line-through;
                background: none;
            }

            .flag {
                position: relative;
            }

        .paginator {
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 0;
            clear: both;
        }

            .paginator li {
                list-style-type: none;
                display: inline-block;
                vertical-align: top;
                margin-right: 20px;
                margin-top: 52px;
                margin-bottom: 60px;
                font-size: 13px;
                line-height: 18px;
                font-weight: normal;
                font-family: "PT Sans";
                text-align: center;
                border-radius: 3px;
            }

            .paginator-btn {
                display: block;
                width: 36px;
                padding: 9px 0;
                color: #000;                
                background-color: #fff;
                border: 1px solid #e5e5e5;
                list-style-type: none;
                text-decoration: none;
                border-radius: 3px;                
            }

            .paginator-btn:hover {
                border-color: #c1c6ce;
            }

            .paginator-btn:active {
                border-color: #ee3643;
            }

            .paginator-btn-active {                
                display: block;
                width: 38px;
                padding: 10px 0;
                color: #fff;                
                background-color: #ee3643;                
                border-radius: 3px;
            }

            .paginator .next-page {
                width: 138px;
            }

            .manufacturers {
                list-style: none;
                padding: 0;
                margin: 0;
                font-size: 0;
            }

                .manufacturers li {
                    list-style-type: none;
                    float: left;
                    margin-right: 20px;
                }

                .manufacturers li:nth-child(-n+4) {
                    margin-bottom: 20px;
                }

                .manufacturers li:nth-child(4n) {
                    margin-right: 0;
                }

                    .manufacturers-logo {
                        display: table-cell;
                        vertical-align: middle;
                        width: 220px;
                        height: 145px;
                        border: 1px solid #e7e7e7;
                        box-sizing: border-box;
                        
                    }

                    .manufacturers-logo:hover {
                        box-shadow: 0 10px 23px 0px rgba(41,52,73,0.5);
                    }

                    .manufacturers-logo:active {
                        box-shadow: 0 4px 10px 0px rgba(41,52,73,0.5);
                    }


                        .manufacturers-logo img {
                            display: block;
                            margin: 0 auto;
                        }

.section-services {
    padding-top: 68px;
    padding-bottom: 102px;
    background-color: #f2f6f8;
    outline: 1px solid green;
}
    
        .section-title {
            font-size: 30px;
            line-height: 24px;
            color: #000;
            font-weight: normal;
            font-family: "Cuprum";
            text-transform: uppercase;
            margin: 0;
        }

        .section-text {
            font-size: 13px;
            line-height: 24px;
            color: #000;
            font-weight: normal;
            font-family: "PT Sans";
            outline: 1px solid pink;
        }

        .section-services .section-text {
            width: 400px;
        }

        .services-list {
            float: left;
            margin-right: 80px;
        }

            .services-list ul {
                list-style: none;
                font-size: 0;
                padding: 0;
                margin: 0;
            }

                .services-list li {
                    list-style-type: none;
                }

                    .services-list a {
                        width: 223px;
                        display: block;
                        font-size: 21px;
                        line-height: 30px;
                        color: #fff;
                        font-weight: bold;
                        font-family: "Cuprum";
                        text-decoration: none;
                        background-color: #32425c;
                        border-top: 1px solid #405069;
                        border-bottom: 1px solid #293449;
                        padding: 17px 0;
                        padding-left: 17px;
                    }

                    .services-list .services-list-a-active {
                        display: block;
                        font-size: 21px;
                        line-height: 30px;
                        color: #32425c;
                        font-weight: bold;
                        font-family: "Cuprum";
                        text-decoration: none;
                        background-color: #fff;
                        border: none;
                    }

        .services-content {
            width: 300px;
            float: left;
        }

            .delivery {

            }

                .services-content-title {
                    font-size: 36px;
                    line-height: 24px;
                    color: #32425c;
                    font-weight: normal;
                    font-family: "Cuprum";
                }

            .guarantee,
            .credit {
                display: none;
            }

.section-information {
    padding-top: 82px;
    padding-bottom: 86px;
}

        .about {
            width: 540px;
            float: left;
            outline: 2px solid black;
        }

            .section-list {
                list-style: none;
                padding: 0;
                margin: 0;
            }

                .section-list li {
                    position: relative;
                    font-size: 18px;
                    line-height: 20px;
                    color: #000;
                    font-weight: normal;
                    font-family: "Cuprum";
                    list-style-type: none;
                    padding-left: 36px;
                }

                .section-list li::before {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 10px;
                    content: "";
                    width: 25px;
                    height: 2px;
                    background-color: #fb565a;
                }

        .contacts {
            width: 300px;
            float: right;
            outline: 2px solid black;
        }

.main-footer {
    
}

    .footer-top {
        background-color: #32425c;
        padding-bottom: 50px;
    }

        .footer-top-leftCol {
            float: left;
        }

            .footer-logo {
                width: 220px;
                margin-bottom: 27px;
                padding: 16px 0;
                text-align: center;
                font-size: 30px;
                line-height: 31px;
                color: #fff;
                font-weight: bold;
                font-family: "Cuprum";
                background-color: #ee3643;
                border-bottom: 5px solid #b52933; 
            }

            .footer-address {
                font-size: 18px;
                line-height: 24px;
                color: #f1f5f7;
                font-weight: normal;
                font-family: "Cuprum";
            }

        .footer-top-rightCol {
            float: right;
            margin-top: 37px;
        }

            .footer-nav {
                list-style: none;
                padding: 0;
                margin: 0;
                font-size: 0;
                clear: both;
                float: right;
                margin-bottom: 34px;
            }

                .footer-nav li {
                    display: inline-block;
                    vertical-align: top;
                    padding: 0;
                    margin: 0;
                    margin-left: 60px;
                }

                .footer-nav li:first-child {
                    margin-left: 0;
                }

                    .footer-nav a {
                        display: block;
                        font-size: 18px;
                        line-height: 24px;
                        color: #f1f5f7;
                        font-weight: normal;
                        font-family: "Cuprum";
                        text-decoration: none;
                    }

.footer-nav a:hover,
.footer-catalog a:hover {
    text-decoration: underline;
}

.footer-nav a:active,
.footer-catalog a:active {
    opacity: 0.5;
}

            .footer-catalog {
                list-style: none;
                padding: 0;
                margin: 0;
                font-size: 0;
                float: right;
                clear: both;
            }

                .footer-catalog li {
                    display: inline-block;
                    vertical-align: top;
                    padding: 0;
                    margin: 0;
                    margin-left: 60px;
                }

                .footer-catalog li:first-child {
                    margin-left: 0;
                }

                    .footer-catalog a {
                        display: block;
                        font-size: 18px;
                        line-height: 24px;
                        color: #ffd180;
                        font-weight: normal;
                        font-family: "Cuprum";
                        text-decoration: none;
                    }

    .footer-bottom {
        padding-top: 36px;
        padding-bottom: 31px;
        background-color: #293449;
    }

        .copyright {
            float: left;
            width: 240px;
            font-size: 16px;
            line-height: 18px;
            color: #fff;
            font-weight: normal;
            font-family: "Cuprum";
            margin-right: 150px;
        }

        .social {
            float: left;
            width: 150px;
            margin-right: 100px;
        }

            .social-icon {
                position: relative;                
                display: inline-block;
                vertical-align: top;
                width: 40px;
                height: 40px;
                margin-right: 3px;
                font-size: 0;
                border-radius: 100%;
                background-color: #212a3a;
            }

            .social-icon:hover {
                background-color: #ee3643;
            }

            .vk::before {
                position: absolute;
                content: "";
                width: 20px;
                height: 12px;
                top: 14px;
                left: 10px;
                background: url("../img/sprite.png") no-repeat;
                background-position: -2px -519px;
            }

            .fb::before {
                position: absolute;
                content: "";
                width: 10px;
                height: 18px;
                top: 10px;
                left: 15px;
                background: url("../img/sprite.png") no-repeat;
                background-position: -2px -535px;
            }

            .inst::before {
                position: absolute;
                content: "";
                width: 17px;
                height: 17px;
                top: 12px;
                left: 12px;
                background: url("../img/sprite.png") no-repeat;
                background-position: -2px -557px;
            }


            .footer-bottom a {
                color: #ffd180;
                text-decoration: none;
            }

            .feedback {
                float: left;
                width: 140px;
                font-size: 16px;
                line-height: 18px;
                color: #fff;
                font-weight: normal;
                font-family: "Cuprum";
                margin-right: 49px;
            }

            .developer {
                float: left;
                font-size: 16px;
                line-height: 18px;
                color: #fff;
                font-weight: normal;
                font-family: "Cuprum";
                text-align: center;
            }

.sprite-26 {
    width: 10px;
    height: 18px;
    
}

.sprite-27 {
    width: 17px;
    height: 17px;
    
}
/*
.header-top a, 




.user-name {
	font-size: 21px;
  line-height: 18px;
  color: #000;
  font-weight: normal;
  font-family: "Cuprum";
}
.user-exit {
	
}
.user-block .user-orders,
.user-block .user-account {
	font-size: 16px;
  line-height: 18px;
  color: #32425c;
  font-weight: normal;
  font-family: "Cuprum";
	background: none;
	text-decoration: underline;
}

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-01 {
    width: 17px;
    height: 17px;
    background-position: -2px -2px;
}

.sprite-02 {
    width: 17px;
    height: 17px;
    background-position: -2px -23px;
}

.sprite-03 {
    width: 14px;
    height: 16px;
    background-position: -2px -44px;
}

.sprite-04 {
    width: 17px;
    height: 16px;
    background-position: -2px -64px;
}

.sprite-05 {
    width: 20px;
    height: 17px;
    background-position: -2px -84px;
}

.sprite-06 {
    width: 20px;
    height: 17px;
    background-position: -2px -105px;
}

.sprite-07 {
    width: 20px;
    height: 18px;
    background-position: -2px -126px;
}

.sprite-08 {
    width: 20px;
    height: 18px;
    background-position: -2px -148px;
}

.sprite-09 {
    width: 21px;
    height: 17px;
    background-position: -2px -170px;
}

.sprite-10 {
    width: 21px;
    height: 17px;
    background-position: -2px -191px;
}

.sprite-11 {
    width: 11px;
    height: 10px;
    background-position: -2px -212px;
}

.sprite-12 {
    width: 11px;
    height: 10px;
    background-position: -2px -226px;
}

.sprite-13 {
    width: 11px;
    height: 10px;
    background-position: -2px -240px;
}

.sprite-14 {
    width: 9px;
    height: 9px;
    background-position: -2px -254px;
}

.sprite-15 {
    width: 11px;
    height: 10px;
    background-position: -2px -267px;
}

.sprite-16 {
    width: 11px;
    height: 10px;
    background-position: -2px -281px;
}

.sprite-17 {
    width: 25px;
    height: 25px;
    background-position: -2px -295px;
}

.sprite-18 {
    width: 25px;
    height: 25px;
    background-position: -2px -324px;
}

.sprite-19 {
    width: 25px;
    height: 25px;
    background-position: -2px -353px;
}

.sprite-20 {
    width: 25px;
    height: 25px;
    background-position: -2px -382px;
}

.sprite-21 {
    width: 23px;
    height: 23px;
    background-position: -2px -411px;
}

.sprite-22 {
    width: 23px;
    height: 23px;
    background-position: -2px -438px;
}

.sprite-23 {
    width: 27px;
    height: 23px;
    background-position: -2px -465px;
}

.sprite-24 {
    width: 27px;
    height: 23px;
    background-position: -2px -492px;
}

.sprite-25 {
    width: 20px;
    height: 12px;
    background-position: -2px -519px;
}

.sprite-26 {
    width: 10px;
    height: 18px;
    background-position: -2px -535px;
}

.sprite-27 {
    width: 17px;
    height: 17px;
    background-position: -2px -557px;
}

.sprite-28 {
    width: 22px;
    height: 40px;
    background-position: -2px -578px;
}

.sprite-29 {
    width: 19px;
    height: 19px;
    background-position: -2px -622px;
}

*/